.profile__info {
  display: flex;
  /* gap: 30px; */
  position: relative;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .profile__info {
    flex-direction: column;
    justify-content: center;
    margin-right: 26px;
    /* gap: 26px; */
  }
}

