.profile__edit-button {
  background-image: url(../../../images/edit_button.svg);
  width: 24px;
  height: 24px;
  background-size: 10px;
  border: 1px solid #FFFFFF;
  padding: 6px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.2s ease-out;
} 

@media (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    padding: 4.25px;
  }
}