.element__delete-button {
  display: none;
  background-image: url(../../../images/trashButton.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: transparent;
  top: 20px;
  left: 244px;
  border: none;
  z-index: 100;
}

.element__delete-button:hover {
  opacity: 0.6;
  transition: 0.2s ease-out;
}

